.footerParentDiv {
  width: 100vw;
  overflow-x: hidden;
}
.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebeeef;
  padding: 16px;
  padding:20px 200px 20px 130px ;
}
.footerParentDiv .content .heading {
  font-size: 24px;
  font-weight: bolder;
  padding-left: 30px;
}

.footerParentDiv .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 30px;
  background: #002f34;
  color: whitesmoke;
}

.footerParentDiv .footer p {
  margin: 0;
}
